@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("fonts/flaticon.woff") format("woff"),
    url("fonts/flaticon.ttf") format("truetype"),
    url("fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}.flaticon-barbecue3:before {
   content: "\e000";
 }
.flaticon-childs:before {
  content: "\e001";
}
.flaticon-dwelling1:before {
  content: "\e002";
}
.flaticon-email20:before {
  content: "\e003";
}
.flaticon-facebook48:before {
  content: "\e004";
}
.flaticon-facebook55:before {
  content: "\e005";
}
.flaticon-group12:before {
  content: "\e006";
}
.flaticon-instagram10:before {
  content: "\e007";
}
.flaticon-phone16:before {
  content: "\e008";
}
.flaticon-social19:before {
  content: "\e009";
}
.flaticon-swimming13:before {
  content: "\e00a";
}
.flaticon-twitter42:before {
  content: "\e00b";
}
.flaticon-vintage2:before {
  content: "\e00c";
}


html, body {
  padding: 0;
  margin: 0;
}

body
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

.mainlogo
  height 150px

.mainlogo img
  width 230px

.mainmenu
  margin-top 62px

.intro-section
.about-section
.services-section
.contact-section
  height auto
  min-height 100%
  padding-top 250px

.intro-section div.header-info
  background-color #B5A990
  padding 5px 0px

.intro-section div.header-info h1
  color white
  font-family 'Raleway', sans-serif
  font-size 3em
  font-weight bold
  letter-spacing 0.02em

.intro-section figure.main-figure
  overflow hidden
  margin-bottom 50px

.intro-section figure.main-figure img
  width 100%

.intro-section .main-slider .slick-prev
  left 0

.intro-section .main-slider .slick-next
  right 0

.intro-section .main-slider .image
  position relative
  overflow hidden

.intro-section div.main-slider div.image img
  width 90%
  margin auto

.intro-section .main-slider .image .caption
  position: absolute;
  bottom 0
  left 0
  text-align center
  padding 20px 0
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 20px solid white;
  border-right: 1140px solid rgba(0,0,0,0.4);
  display none

.intro-section .main-slider .image .caption h2
  text-shadow 1px 1px 1px #000
  color #fff
  position relative
  font-size 1em
  width 1140px
  top -25px


.intro-section .apto-tipo div
  overflow hidden




.margin-top
  margin-top 50px

.about-section .aboutpic img
  width 100%

.services-section .ubicacion
.about-section .infodetalles
  text-align left

.services-section .ubicacion h2
.about-section .informacion h2
.contact-section .texto h2
  color #888888
  font-weight bold
  text-align left

.services-section .ubicacion p
.about-section .informacion p
.contact-section .texto p
  font-size 1.4em

.services-section .ubicacion div.mapa
  height 352px

.about-section .informacion
  text-align left

.icon
  float left
  padding-right 10px
  font-size 1em

.about-section .infodetalles .detalle
  overflow hidden
  margin 20px 0

.about-section .infodetalles .detalle h3
  margin-top 0

.contact-section .texto p
  text-align left

.contact-section .texto p.bold
  font-weight bold
  margin-bottom 5px

.contact-section .texto span
  color #888888
  font-size 1.6em
  font-weight bold
  display block
  text-align left

.contact-section div.texto p.mail
.contact-section div.texto ul li
  font-size 1.2em
  color black

.contact-section div.texto ul
  padding-left 0
  margin-top 20px

.contact-section div.texto ul li
  list-style none
  text-align left
  margin 1em 0

.contact-section form
  padding-top 40px

.contact-section form input
  width 45%
  float left
  border 2px solid color_blue1
  margin-top 1em
  font-size 1.3em
  font-style italic
  padding 5px 10px
  background #F6F6F6

.contact-section form textarea
  width 100%
  border 2px solid color_blue1
  margin-top 1em
  font-size 1.3em
  font-style italic
  padding 5px 10px
  background #F6F6F6

.contact-section form input:nth-child(even)
  margin-left 10%

.contact-section form input[type=submit]
  width 5em
  margin-left 0
  padding 5px;
  border none
  background-color color_blue1
  color #fff
  margin-bottom 10px

.contact-section .contact-social a
  color black

.contact-section .contact-social a:hover
  color black

div#contact-message
  width: 100%;
  overflow: hidden;
  border: 2px solid color_blue1;
  padding: 5px 10px;
  display none